@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Libre+Bodoni&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Libre Bodoni', sans-serif;
     background-color: rgb(2, 2, 2);  
    
}


/* logo and header*/

h1 {
    font-family: Aboreto, sans-serif;
    
}

#logo {
 float: left;
 font-size: 320%;
 margin-left: 30px;
 color: rgb(5, 5, 5);
 text-shadow:
    0 0 7px #fff,
    0 0 10px rgb(60, 196, 196),
    0 0 21px rgb(28, 221, 255),
    0 0 42px rgb(68, 185, 156),
    0 0 82px rgb(157, 223, 208),
    0 0 92px rgb(65, 61, 104),
    0 0 102px rgb(79, 65, 105),
    0 0 151px rgb(46, 98, 196);
 
}

/*navigation links*/
#menu {
font-size: 140%;


}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 40px;
    color: rgb(255, 255, 255);
    text-shadow:
    0 0 7px #fff,
    0 0 10px rgb(194, 169, 59),
    0 0 21px rgb(189, 176, 66),
    0 0 42px rgb(163, 139, 33),
    0 0 82px rgb(204, 163, 27),
    0 0 92px rgb(252, 252, 252),
    0 0 205px rgb(238, 235, 240),
    0 0 151px rgb(190, 141, 68);
}

#menu a {
    text-decoration: none;
    color: black;
    
    
}

#menu a:hover {
    border-style: dotted none;
    color: aliceblue;
    
    
}

/* background-image*/
#comet-image {
    height: 700px;
    width: 100%;
    background: url(../images/593191.jpg) no-repeat center center;
}
/* #comet-zoom {
    height: 700px;
    width: 100%;
    overflow: hidden;
} */

#undertext {
    position: absolute;
    font-size: 120%;
    top: 8%;
    left: 25px;
    color: rgb(14, 14, 13);
    text-shadow:
    0 0 7px rgb(17, 17, 17),
    0 0 10px rgb(139, 112, 182),
    0 0 21px #fff,
    0 0 42px rgb(253, 253, 253),
    0 0 82px rgb(71, 68, 102),
    0 0 92px rgb(65, 61, 104),
    0 0 102px rgb(233, 229, 240),
    0 0 151px rgb(99, 87, 133);
    
}

/*section club*/
 #cosmos-club {
    background-color: rgb(254, 254, 255); 
    text-align: center;
    font-size: 130%;
    font-family: Aboreto;
    padding-bottom: 300px;
    padding-top: 30px;
} 

#club-image {
   border-radius: 50%;
   opacity: 0.7;
   position: relative;
   width: 70%;
    
    
}

.explore-round {
  color: rgb(52, 12, 88);
  position: absolute;
  margin-top: 200px;
  margin-left: 120px;
  font-size: 110%;
}

/* p travel and facts*/
#club-left {
    padding-top: 30px;
    width: 20%;
    float: left;
    margin-left: 150px;
    
}

#club-right {
    padding-top: 30px;
    width: 20%;
    float: right;
    margin-right: 150px;
}
   #club-center {
    width: 33%;
    margin: 0 auto;
} 

.club-left-h  {
    margin-bottom: 50px;
    font-size: 100%;
    
}

.paragraph-left {
    font-family: 'Libre Bodoni', sans-serif;
    margin-top: 10px;
}

.club-left-h h2 {
    font-family: 'Libre Bodoni', sans-serif;
    font-size: 120%;
    text-decoration: underline;
}

.club-right-h  {
    margin-bottom: 50px;
    font-size: 100%;
    
}

.paragraph-right {
    font-family: 'Libre Bodoni', sans-serif;
    margin-top: 10px;
}

.club-right-h h2 {
    font-family: 'Libre Bodoni', sans-serif;
    font-size: 120%;
    text-decoration: underline;
}

/* footer */
footer {
    height: 80px;
    position: relative;
}

#social {
    text-align: center;
}

#social > li {
    display: inline;
    padding: 7%;
    font-size: 110%;
      
}

#social i {
   color: black
}
   
#social a:hover {
    color: rgb(234, 238, 238);
    opacity: 0.7;
    border-style: dotted none;

}

#social a {
    text-decoration: none;
    color: black;
    text-shadow:
    0 0 7px #fff,
    0 0 10px rgb(60, 196, 196),
    0 0 21px rgb(28, 221, 255),
    0 0 42px rgb(68, 185, 156),
    0 0 82px rgb(157, 223, 208),
    0 0 92px rgb(65, 61, 104),
    0 0 102px rgb(79, 65, 105),
    0 0 151px rgb(46, 98, 196);
    position: absolute;
    margin-top: 30px;
    
}

/* gallery */
#images {
    clear: both;
    line-height: 0;
}